<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GestioneSaldoCNT</servlet-name>
        <servlet-class>control.accountCNT.GestioneSaldoCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaRecensioniCNT</servlet-name>
        <servlet-class>control.accountCNT.VisualizzaRecensioniCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaOperatoriCNT</servlet-name>
        <servlet-class>control.accountCNT.VisualizzaOperatoriCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaGestoriCNT</servlet-name>
        <servlet-class>control.accountCNT.VisualizzaGestoriCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancellazioneGestore</servlet-name>
        <servlet-class>control.accountCNT.CancellazioneGestore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecuperoPasswordCNT</servlet-name>
        <url-pattern>/RecuperoPasswordCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaDettagliCNT</servlet-name>
        <url-pattern>/ModificaDettagliCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancellazioneAccountCNT</servlet-name>
        <url-pattern>/CancellazioneAccountCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AggiuntaSalaCNT</servlet-name>
        <url-pattern>/AggiuntaSalaCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaSalaCNT</servlet-name>
        <url-pattern>/ModificaSalaCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrenotazioneSalaCNT</servlet-name>
        <url-pattern>/PrenotazioneSalaCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RimozioneSalaCNT</servlet-name>
        <url-pattern>/RimozioneSalaCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltraFilmCNT</servlet-name>
        <url-pattern>/FiltraFilmCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicercaCNT</servlet-name>
        <url-pattern>/RicercaCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzazioneFilmCNT</servlet-name>
        <url-pattern>/VisualizzazioneFilmCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciFilmCNT</servlet-name>
        <url-pattern>/admin/InserisciFilmCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RimozioneFilmCNT</servlet-name>
        <url-pattern>/RimozioneFilmCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AggiungiProgrammazioneCNT</servlet-name>
        <url-pattern>/AggiungiProgrammazioneCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzazioneProgrammazioneCNT</servlet-name>
        <url-pattern>/VisualizzazioneProgrammazioneCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzazioneDettagliSpettacoloCNT</servlet-name>
        <url-pattern>/VisualizzazioneDettagliSpettacoloCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AggiungiSpettacoloCNT</servlet-name>
        <url-pattern>/admin/AggiungiSpettacoloCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaSpettacoloCNT</servlet-name>
        <url-pattern>/ModificaSpettacoloCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaSpettacoloCNT</servlet-name>
        <url-pattern>/EliminaSpettacoloCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AggiuntaScontoCNT</servlet-name>
        <url-pattern>/AggiuntaScontoCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaScontoCNT</servlet-name>
        <url-pattern>/ModificaScontoCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrenotazioneBigliettoCNT</servlet-name>
        <url-pattern>/PrenotazioneBigliettoCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisdettaPrenotazioneCNT</servlet-name>
        <url-pattern>/DisdettaPrenotazioneCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelezionaPostiCNT</servlet-name>
        <url-pattern>/SelezionaPostiCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcquistoBigliettoCNT</servlet-name>
        <url-pattern>/AcquistoBigliettoCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrenotazioneCNT</servlet-name>
        <url-pattern>/PrenotazioneCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyticsIscrizioniCNT</servlet-name>
        <url-pattern>/AnalyticsIscrizioniCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyticsFilmCNT</servlet-name>
        <url-pattern>/AnalyticsFilmCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyticsIncasiCNT</servlet-name>
        <url-pattern>/AnalyticsIncasiCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyticsOperazioniCNT</servlet-name>
        <url-pattern>/AnalyticsOperazioniCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyticsScontiCNT</servlet-name>
        <url-pattern>/AnalyticsScontiCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneSaldoCNT</servlet-name>
        <url-pattern>/GestioneSaldoCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaRecensioniCNT</servlet-name>
        <url-pattern>/VisualizzaRecensioniCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaOperatoriCNT</servlet-name>
        <url-pattern>/VisualizzaOperatoriCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaGestoriCNT</servlet-name>
        <url-pattern>/VisualizzaGestoriCNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancellazioneGestore</servlet-name>
        <url-pattern>/CancellazioneGestore</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>database.ConfigServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperoPasswordCNT</servlet-name>
        <servlet-class>control.accountCNT.RecuperoPasswordCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaDettagliCNT</servlet-name>
        <servlet-class>control.accountCNT.ModificaDettagliCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancellazioneAccountCNT</servlet-name>
        <servlet-class>control.accountCNT.CancellazioneAccountCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AggiuntaSalaCNT</servlet-name>
        <servlet-class>control.salaCNT.AggiuntaSalaCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaSalaCNT</servlet-name>
        <servlet-class>control.salaCNT.ModificaSalaCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrenotazioneSalaCNT</servlet-name>
        <servlet-class>control.salaCNT.PrenotazioneSalaCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RimozioneSalaCNT</servlet-name>
        <servlet-class>control.salaCNT.RimozioneSalaCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltraFilmCNT</servlet-name>
        <servlet-class>control.libreriaCNT.FiltraFilmCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicercaCNT</servlet-name>
        <servlet-class>control.libreriaCNT.RicercaCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValutazioniCNT</servlet-name>
        <servlet-class>control.libreriaCNT.ValutazioniCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecensioniCNT</servlet-name>
        <servlet-class>control.libreriaCNT.RecensioniCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzazioneFilmCNT</servlet-name>
        <servlet-class>control.libreriaCNT.VisualizzazioneFilmCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciFilmCNT</servlet-name>
        <servlet-class>control.libreriaCNT.InserisciFilmCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RimozioneFilmCNT</servlet-name>
        <servlet-class>control.libreriaCNT.RimozioneFilmCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AggiungiProgrammazioneCNT</servlet-name>
        <servlet-class>control.libreriaCNT.AggiungiProgrammazioneCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzazioneProgrammazioneCNT</servlet-name>
        <servlet-class>control.programmazioneCNT.VisualizzazioneProgrammazioneCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzazioneDettagliSpettacoloCNT</servlet-name>
        <servlet-class>control.programmazioneCNT.VisualizzazioneDettagliSpettacoloCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AggiungiSpettacoloCNT</servlet-name>
        <servlet-class>control.programmazioneCNT.AggiungiSpettacoloCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaSpettacoloCNT</servlet-name>
        <servlet-class>control.programmazioneCNT.ModificaSpettacoloCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaSpettacoloCNT</servlet-name>
        <servlet-class>control.programmazioneCNT.EliminaSpettacoloCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbilitaScontoCNT</servlet-name>
        <servlet-class>control.scontoCNT.AbilitaScontoCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AggiuntaScontoCNT</servlet-name>
        <servlet-class>control.scontoCNT.AggiuntaScontoCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaScontoCNT</servlet-name>
        <servlet-class>control.scontoCNT.ModificaScontoCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrenotazioneBigliettoCNT</servlet-name>
        <servlet-class>control.prenotazioneCNT.PrenotazioneBigliettoCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisdettaPrenotazioneCNT</servlet-name>
        <servlet-class>control.prenotazioneCNT.DisdettaPrenotazioneCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelezionaPostiCNT</servlet-name>
        <servlet-class>control.acquistoCNT.SelezionaPostiCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcquistoBigliettoCNT</servlet-name>
        <servlet-class>control.acquistoCNT.AcquistoBigliettoCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrenotazioneCNT</servlet-name>
        <servlet-class>control.acquistoCNT.PrenotazioneCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyticsIscrizioniCNT</servlet-name>
        <servlet-class>control.analyticsCNT.AnalyticsIscrizioniCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyticsFilmCNT</servlet-name>
        <servlet-class>control.analyticsCNT.AnalyticsFilmCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyticsIncasiCNT</servlet-name>
        <servlet-class>control.analyticsCNT.AnalyticsIncasiCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyticsOperazioniCNT</servlet-name>
        <servlet-class>control.analyticsCNT.AnalyticsOperazioniCNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyticsScontiCNT</servlet-name>
        <servlet-class>control.analyticsCNT.AnalyticsScontiCNT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigServlet</servlet-name>
        <url-pattern>/ConfigServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>FiltroAdmin</filter-name>
        <filter-class>control.libreriaCNT.FiltroAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroAdmin</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <resource-ref>
        <description>JNDI reference to a data source</description>
        <res-ref-name>jdbc/evo_cinema</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
