/* 
    Created on : 11-gen-2018, 14.46.39
    Author     : luca
*/

.vds-posto {
    margin : 0.5px;
    margin-bottom:5px;
}

.container-fluid > .row {
    margin-bottom: 3%;
}

.card-header h5 {
    float:left;
}


.card-header a {
    float:right;
}

#riepilogo-ordine span {
    text:5em;
}