/* 
    Created on : 11-gen-2018, 14.46.39
    Author     : luca
*/

.vds-posto {
    margin : 0.5px;
    margin-bottom:5px;
}

.vds-posto-non-disponibile {
    
}

.vds-posto-disponibile {
    
}

.vds-posto-prenotato {
    
}

.vds-posto-occupato {
    
}

#riepilogo-ordine span {
    text:5em;
}